*{
    margin: 0;
    padding: 0 auto;
}
h1{
    background-color: antiquewhite;
    justify-self: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 100px;
    color: blue;
    text-align: center;
}