body {
  font-family: Arial, sans-serif;
  text-align: center;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  margin: 20px 20px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0.75rem;
  text-decoration: none;
  background-color: aquamarine;
  transition: 1s ease-in-out;
}

a:hover{
    color: green;
    background-color: aliceblue;
    transform: scale(1.3);
   
}
