body {
  font-family: Arial, sans-serif;
  text-align: center;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

a, button {
  margin: 20px 20px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0.75rem;
  text-decoration: none;
  background-color: aquamarine;
  transition: 1s ease-in-out;
}

a:hover{
    color: green;
    background-color: aliceblue;
    transform: scale(1.3);
   
}
footer{
  display: flex;
  
  /* padding: 20px; */
  margin: 20px;
}
footer{
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  background-color: rgba(142, 229, 255, 0.589);
}
footer > button{
  padding: auto;
  margin: 0;
}
footer > input {
  padding: 0;
  margin: 0 1rem;
  height: 1.5rem;
  width: 15rem;
  border-radius: .50rem;
}
footer > input::placeholder{
  color: rgb(255, 0, 0)
}
.loginClass{
    padding: 15rem;

}
input[type='submit']{
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    justify-self: center;
}